.place__image {
    /* max-width: 440px; */
    width: 100%;
    height: auto;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 480px) {
    .place__image {
        margin-bottom: 32px;
    }
}