/* regular */
@font-face {
  src: url(./Inter-Regular.ttf) format('truetype'),
       url(./Inter-Regular.woff2) format('woff2');
  font-family: 'Inter';
  font-weight: 400;
}

/* bold */
@font-face {
  src: url(./Inter-Bold.ttf) format('truetype'),
       url(./Inter-Bold.woff2) format('woff2');
  font-family: 'Inter';
  font-weight: 700;
}

/* black */
@font-face {
  src: url(./Inter-Black.ttf) format('truetype'),
       url(./Inter-Black.woff2) format('woff2');
  font-family: 'Inter';
  font-weight: 900;
}


