.cover__title {
    display: flex;
    max-width: 560px;
    z-index: 3;
    margin: 0 auto 32px;

    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .cover__title {
        max-width: 250px;
        font-size: 32px;
        line-height: 35px;
        margin: 33px auto 16px;
    }
}